<%- include('private_partials/privateHeader') %>
            <main class="mdl-layout__content">
                <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
                    <%- include('private_partials/forms/inventoryTableForm') %>
                </section>
                <section class="mdl-layout__tab-panel" id="fixed-tab-2">
                    <div class="pos-page">
                        <div id="cartItems">
                        <!-- Cart items will be displayed here -->
                        </div>
                        <div id="checkout">
                            <div id="cartTotalPrice">
                                <p>Total Price: &#8369;0.00</p>
                            </div>
                            <hr>
                            <button id="checkoutBtn" class="cartButton">Proceed to Checkout</button>
                            <button id="removeBtn" class="cartButton">Remove Selected Item/s</button>
                        </div>
                    </div>
                </section>
            </main>
            <!--Modal Container-->
            <%- include('private_partials/forms/addInventoryForm') %>
            <%- include('private_partials/forms/editInventoryForm') %>
            <%- include('private_partials/forms/addToCartForm') %>

            <div id="overlay"></div>
            <script>
                const userType = '<%= userType %>';
            </script>
        </div>
    </body>
</html> 